.box {
  border: 5px solid black;
  width: 500px;
  margin: 5px;
  text-align: center;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px;
  margin: 0 5px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}
