.box {
    border: 5px solid black;
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

.item-img {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    padding: 15px;
    margin: 0 5px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.win {
    border: 5px solid green;
}

.lose {
    border: 5px solid red;
}

.versus-box {
    width: 300px;
    text-align: center;
    margin: auto auto;
}

@media (max-width: 768px) {
    .versus-box {
        width: 100%;
        text-align: center;
        margin: auto auto;
    }

    .main {
        width: 30%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}